[submodule ".vscode"]
	path = .vscode
	url = https://github.com/tfragner/vs-code-pandoc.git
[submodule ".pandoc"]
	path = .pandoc
	url = https://github.com/tfragner/pandoc-environment.git
[submodule "bin"]
	path = bin
	url = https://github.com/tfragner/pandoc-scripts.git
[submodule "t02_ce-scriptum"]
	path = t02_ce-scriptum
	url = ssh://gitolite3@140.78.73.14:2122/skriptum_ce
