[submodule ".vscode"]
	path = .vscode
	url = https://github.com/tfragner/vs-code-pandoc.git
[submodule ".pandoc"]
	path = .pandoc
	url = https://github.com/tfragner/pandoc-environment.git
[submodule "bin"]
	path = bin
	url = https://github.com/tfragner/pandoc-scripts.git
